*.DS_Store
*.mrpack
Epimorphism-1.0.1.zip

/.vscode/*
*.pxd
/.idea/*
/.fleet/*

# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch
*.project

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project/
.VSCodeCounter/